{% extends 'index.html' %}

{% load static %}

{% block title %}Accueil - DPSE{% endblock %}

{% block style %}
<style>
  /* Styles pour le popup */
  .popup {
    display: none;
    /* Caché par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fond semi-transparent */
    z-index: 1000;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Commence invisible */
    transition: opacity 0.4s ease-in-out;
    /* Transition fluide pour l’opacité */
  }

  .popup.active {
    display: flex;
    /* Affiche le popup */
    opacity: 1;
    /* Devient visible */
  }

  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.8);
    /* Commence plus petit */
    opacity: 0;
    /* Commence invisible */
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    /* Transitions fluides */
  }

  .popup.active .popup-content {
    transform: scale(1);
    /* Taille normale */
    opacity: 1;
    /* Devient opaque */
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
</style>
{% endblock%}
{% block content %}

<main class="main">

  <!-- Accueil -->
  <section id="hero" class="hero section dark-background">

    <img src="{% static 'general/images/plateau.jpg' %}" alt="" data-aos="fade-in">

    <div class="container">

      <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="col-xl-9 col-lg-8">
          <h2>Direction de la Planification et du Suivi Evaluation</h2>
          <p>Planifier, suivre, évaluer : agir mieux !</p>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="300">
          <a href="#about">
            <div class="icon-box">
              <i class="bi bi-house"></i>
              <h3>Le Ministère</h3>
            </div>
          </a>
        </div>
        <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="400">
          <a href="#dpse">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h3>La DPSE</h3>
            </div>
          </a>
        </div>
        <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="500">
          <a href="#gar">
            <div class="icon-box">
              <i class="bi bi-puzzle"></i>
              <h3>GAR</h3>
            </div>
          </a>
        </div>
        <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="600">
          <a href="#letmotiv">
            <div class="icon-box">
              <i class="bi bi-person-fill"></i>
              <h3>Letmotiv</h3>
            </div>
          </a>
        </div>
        <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="700">
          <a href="#contact">
            <div class="icon-box">
              <i class="bi bi-person-vcard-fill"></i>
              <h3>Contacts</h3>
            </div>
          </a>
        </div>
      </div>

    </div>

  </section><!-- /Accueil -->


  <!-- Le Ministère -->
  <section id="about" class="about section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{% static 'general/images/mfb-1.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 order-2 order-lg-1 content">
          <h3>Le Ministre des Finances et du Budget</h3>
          <p class="fst-italic">
            Le Ministre des Finances et du Budget est chargé de la mise en œuvre de la politique du
            Gouvernement en matière financière, monétaire, budgétaire, douanière, fiscale, de gestion
            des marchés publics et de gestion statistique des finances publiques.
          </p>
          <ul>
            <li><i class="bi bi-check2-all"></i> <span>Il met en œuvre la politique financière et budgétaire du
                Gouvernement.</span></li>
            <li><i class="bi bi-check2-all"></i> <span>Il assure la gestion des finances publiques, y compris les
                recettes et dépenses de l'État.</span></li>
            <li><i class="bi bi-check2-all"></i> <span>Il supervise les régulations douanières, fiscales et des marchés
                publics.</span></li>
          </ul>
          <p>
            Le Ministre des Finances et du Budget joue un rôle crucial dans la gestion économique du pays,
            en assurant l'équilibre financier et en veillant à la transparence des opérations financières.
          </p>
        </div>

      </div>

    </div>

  </section><!-- /Le Ministère -->

  <!-- Structures -->
  <section id="clients" class="clients section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "500": {
                  "slidesPerView": 2,
                  "spaceBetween": 20
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 30
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 40
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 60
                }
              }
            }
          </script>
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide">
            <a href="{% url 'mfb_structures' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="64" viewBox="0 0 48 24" fill="none">
                <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="12" font-family="Roboto, sans-serif"
                  fill="#2F4F4F">DGBF</text>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="{% url 'mfb_structures' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="64" viewBox="0 0 48 24" fill="none">
                <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="12" font-family="Roboto, sans-serif"
                  fill="#2F4F4F">DGD</text>
              </svg>
            </a>
          </div>
          <!-- Répétez pour chaque élément -->
          <div class="swiper-slide">
            <a href="{% url 'mfb_structures' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="64" viewBox="0 0 48 24" fill="none">
                <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="12" font-family="Roboto, sans-serif"
                  fill="#2F4F4F">DGTCP</text>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="{% url 'mfb_structures' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="64" viewBox="0 0 48 24" fill="none">
                <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="12" font-family="Roboto, sans-serif"
                  fill="#2F4F4F">DGI</text>
              </svg>
            </a>
          </div>
          <!-- Répétez pour chaque élément -->
          <div class="swiper-slide">
            <a href="{% url 'mfb_structures' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="64" viewBox="0 0 48 24" fill="none">
                <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="12" font-family="Roboto, sans-serif"
                  fill="#2F4F4F">DGMP</text>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="{% url 'mfb_structures' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="64" viewBox="0 0 48 24" fill="none">
                <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="12" font-family="Roboto, sans-serif"
                  fill="#2F4F4F">DGF</text>
              </svg>
            </a>
          </div>
          <!-- Répétez pour chaque élément -->
          <div class="swiper-slide">
            <a href="{% url 'mfb_structures' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="64" viewBox="0 0 48 24" fill="none">
                <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="12" font-family="Roboto, sans-serif"
                  fill="#2F4F4F">LONACI</text>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="{% url 'mfb_structures' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="64" viewBox="0 0 48 24" fill="none">
                <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="12" font-family="Roboto, sans-serif"
                  fill="#2F4F4F">BNI</text>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="{% url 'mfb_structures' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="64" viewBox="0 0 48 24" fill="none">
                <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="12" font-family="Roboto, sans-serif"
                  fill="#2F4F4F">DPSE</text>
              </svg>
            </a>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- /Structures -->

  <!-- Le Cabinet -->
  <section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Cabinet du MFB</h2>
      <p>Noyau exécutif</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <div class="member-img">
              <img src="{% static 'general/images/team-1.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4 style="color:white;">M. Adama Coulibaly</h4>
              <span style="color:#f4efef;">Ministre des Finances et du Budget</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">
              <img src="{% static 'general/images/team-2.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4 style="color:white;">Mme Minafou KONE</h4>
              <span style="color:#f4efef;">Directrice de Cabinet du Ministre</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member">
            <div class="member-img">
              <img src="{% static 'general/images/team-3.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4 style="color:white;">M. Vassogbo BAMBA</h4>
              <span style="color:#f4efef;">Directeur de Cabinet Adjoint du Ministre</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="team-member">
            <div class="member-img">
              <img src="{% static 'general/images/team-4.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4 style="color:white;">M. Gondo DIOMANDE</h4>
              <span style="color:#f4efef;">Chef de Cabinet du Ministre</span>
            </div>
          </div>
        </div><!-- End Team Member -->

      </div>

    </div>

  </section><!-- /Le Cabinet -->

  <!-- Ecrire à la DPSE -->
  <section id="call-to-action" class="call-to-action section dark-background">

    <img src="{% static 'general/images/cta-bg.jpg' %}" alt="">

    <div class="container">
      <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-xl-10">
          <div class="text-center">
            <h3>Ecrire à la DPSE</h3>
            <p>Ecrire directement à la Direction de la Planification et du Suivi-Evaluation en cliquant sur le bouton
              ci-dessous.</p>
            <a class="cta-btn" href="mailto:cyrilletaha01@email.com">Ecrire</a>
          </div>
        </div>
      </div>
    </div>

  </section><!-- /Ecrire au Ministre -->


  <section id="services" class="services section">

    <!-- Titre de la section -->
    <div class="container section-title" data-aos="fade-up">
      <h2 class="mb-2">Nos actions</h2>
      <p>Projets d'Investissement Public</p>
    </div><!-- Fin du titre de la section -->

    <div class="container">

      <div class="row gy-4" style="color:#d3d3d3;">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-building"></i>
            </div>
            <a href="https://www.gouv.ci/_actualite-article.php?recordID=13461" class="stretched-link">
              <h3 style="color:white;">Programme National de Développement (PND) 2021-2025</h3>
            </a>
            <p>Un plan stratégique visant à transformer l'économie et la société ivoiriennes pour atteindre l'émergence
              à l'horizon 2030, avec un investissement global prévu de 90 milliards d'euros, principalement porté par le
              secteur privé.</p>
          </div>
        </div><!-- Fin de l'élément de service -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-droplet"></i>
            </div>
            <a href="https://www.banquemondiale.org/fr/news/press-release/2024/07/10/cote-ivoire-programme-825-millions-dollars-acces-eau-et-assainissement"
              class="stretched-link">
              <h3 style="color:white;">Projet d'Appui à la Sécurité de l'Eau et de l'Assainissement (PASEA)</h3>
            </a>
            <p>Un projet ambitieux doté de 825 millions de dollars visant à améliorer l'accès à l'eau potable et aux
              services d'assainissement pour les populations ivoiriennes.</p>
          </div>
        </div><!-- Fin de l'élément de service -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-tree"></i>
            </div>
            <a href="https://www.eib.org/fr/press/news/eib-supports-transformative-forestry-project-in-cote-d-ivoire"
              class="stretched-link">
              <h3 style="color:white;">Projet de Réhabilitation et d'Extension des Zones Forestières</h3>
            </a>
            <p>Une initiative soutenue par la Banque Européenne d'Investissement visant à protéger, réhabiliter et
              étendre les zones forestières en Côte d'Ivoire.</p>
          </div>
        </div><!-- Fin de l'élément de service -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-lightning"></i>
            </div>
            <a href="https://www.lemonde.fr/afrique/article/2024/10/25/la-cote-d-ivoire-mise-a-la-fois-sur-les-energies-vertes-et-les-energies-fossiles_6359441_3212.html"
              class="stretched-link">
              <h3 style="color:white;">Programme de Diversification Énergétique</h3>
            </a>
            <p>Un programme visant à combiner les énergies renouvelables et fossiles pour répondre à la demande
              croissante en électricité, avec des projets solaires et biomasse prévus.</p>
          </div>
        </div><!-- Fin de l'élément de service -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-people"></i>
            </div>
            <a href="https://www.gouv.ci/_actualite-article.php?recordID=15868" class="stretched-link">
              <h3 style="color:white;">Programme d'Investissement Public 2018-2020</h3>
            </a>
            <p>Un programme visant à renforcer les infrastructures socio-économiques et soutenir la croissance durable
              en Côte d'Ivoire.</p>
          </div>
        </div><!-- Fin de l'élément de service -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-globe"></i>
            </div>
            <a href="https://www.gcpnd.gouv.ci/presentation/cgpnd/fr" class="stretched-link">
              <h3 style="color:white;">Plan National de Développement Touristique "Sublime Côte d'Ivoire"</h3>
            </a>
            <p>Une stratégie visant à positionner la Côte d'Ivoire comme une destination touristique de premier plan,
              avec pour objectif d'augmenter le nombre de visiteurs et la contribution du tourisme au PIB.</p>
          </div>
        </div><!-- Fin de l'élément de service -->

      </div>

    </div>

  </section><!-- Fin des Projets d'Investissement Public -->

  <!-- La DPSE -->
  <section id="features" class="features section">
    <span id="dpse"></span>
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>DPSE</h2>
      <p>Direction de la Planification et du Suivi Evaluation</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">
        <p>
          La Direction de la Planification et du Suivi-Évaluation assure la planification, le suivi-évaluation, la
          gestion de la qualité, et la production des statistiques sectorielles. Elle coordonne les activités des
          services concernés, réalise des études, vulgarise les approches modernes, et participe à l'élaboration et au
          suivi des plans et projets sectoriels, incluant les Plans Nationaux de Développement et les Programmes
          d'Investissement Publics.
        </p>
        <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img
            src="{% static 'general/images/dpse-1.jpg' %}" alt=""></div>
        <div class="col-lg-6">

          <div class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-graph-up-arrow flex-shrink-0"></i>
            <div>
              <h4>S/D Etudes et Statistiques</h4>
              <p>Collecte, analyse les données de Finances Publiques en lien avec les mfb_structures responsable.
                Produit les statistiques de Finances Publiques</p>
            </div>
          </div><!-- End Features Item-->

          <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-clock-history flex-shrink-0"></i>
            <div>
              <h4>S/D Prospective et Planification</h4>
              <p>Élabore les plans stratégiques, anticipe les besoins futurs, oriente les politiques publiques et
                coordonne les stratégies de développement.</p>
            </div>
          </div><!-- End Features Item-->

          <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-clipboard2-check-fill flex-shrink-0"></i>
            <div>
              <h4>S/D Programmation et Suivi-Evaluation</h4>
              <p>Planifie les activités en collaboration avec les mfb_structures, suit et évalue projets. Propose des
                ajustements pour garantir atteinte des objectifs.</p>
            </div>
          </div><!-- End Features Item-->

          <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-exclamation-diamond-fill flex-shrink-0"></i>
            <div>
              <h4>S/D Qualité et Normalisation</h4>
              <p>Sensibilise sur les enjeux de qualité, promeut les bonnes pratiques et audite les processus.</p>
            </div>
          </div><!-- End Features Item-->

        </div>
      </div>

    </div>

  </section><!-- /La DPSE -->

  <!-- GAR -->
  <section id="stats" class="stats section">
    <span id="gar"></span>
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>GAR</h2>
      <p>Gestion Axée sur les Résultats</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 align-items-center justify-content-between">

        <div class="col-lg-5">
          <img src="{% static 'general/images/gar-1.jpg' %}" alt="" class="img-fluid"
            style="border: 2px solid rgba(0, 0, 0, 0.1); border-radius: 8px;">

        </div>

        <div class="col-lg-6">

          <h3 class="fw-bold fs-2 mb-3">La Gestion Axée sur les Résultats</h3>
          <p>La <strong>GAR</strong> est une approche qui se concentre sur l'obtention de résultats mesurables. Elle
            repose sur :</p>

          <ul>
            <li><strong>Objectifs clairs</strong> : Définir des objectifs spécifiques, mesurables et temporels.</li>
            <li><strong>Suivi des performances</strong> : Utiliser des indicateurs pour mesurer les progrès.</li>
            <li><strong>Responsabilité</strong> : Chaque acteur est responsable des résultats.</li>
            <li><strong>Réajustement</strong> : Adapter les stratégies selon les résultats obtenus.</li>
            <li><strong>Efficacité des ressources</strong> : Utiliser au mieux les ressources disponibles.</li>
          </ul>

          <p>Elle est utilisée dans la gestion de projets, dans les secteurs public et privé pour améliorer
            l’efficacité, mais peut nécessiter des efforts importants pour la mise en place du suivi et des évaluations
            régulières.</p>

        </div>

      </div>

    </div>

    </div>

  </section><!-- /Chaine 3PBSE -->
  <!-- Chaine 3PBSE -->
  <section id="stats" class="services section"> <!-- ID conservé -->

    <!-- Titre de la section -->
    <div class="container section-title" data-aos="fade-up">
      <h2 class="mb-2">Chaine PPPBSE</h2>
      <p>Prospective, Planification, Programmation, Budgétisation, Suivi et Evaluation (3PBSE)</p>
    </div><!-- Fin du titre de la section -->

    <div class="container">

      <p class="mb-4" style="color:#000000;">
        La chaine <strong>PPPBSE</strong> est un processus de gestion stratégique qui repose sur six étapes clés :
        <strong>Prospective</strong>, <strong>Planification</strong>, <strong>Programmation</strong>,
        <strong>Budgétisation</strong>, <strong>Suivi</strong> et <strong>Évaluation</strong>.
      </p>

      <div class="row gy-4" style="color:#d3d3d3;">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-search"></i>
            </div>
            <h3 style="color:white;">Prospective</h3>
            <p><strong>Anticipation des tendances et des scénarios futurs</strong>. Analyse des évolutions possibles
              dans l'environnement interne et externe, identification des opportunités et menaces à venir.</p>
          </div>
        </div><!-- Fin de l'élément de service -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar-check"></i>
            </div>
            <h3 style="color:white;">Planification</h3>
            <p><strong>Définition des objectifs et actions</strong>. Établissement d'un cadre détaillé des actions avec
              identification des ressources nécessaires et définition des priorités.</p>
          </div>
        </div><!-- Fin de l'élément de service -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-gear"></i>
            </div>
            <h3 style="color:white;">Programmation</h3>
            <p><strong>Organisation temporelle des actions</strong>. Structuration des activités avec échéances précises
              et allocation optimale des ressources humaines/matérielles.</p>
          </div>
        </div><!-- Fin de l'élément de service -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-wallet"></i>
            </div>
            <h3 style="color:white;">Budgétisation</h3>
            <p><strong>Gestion financière prévisionnelle</strong>. Estimation des coûts et allocation des fonds pour une
              utilisation optimale des ressources financières.</p>
          </div>
        </div><!-- Fin de l'élément de service -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bar-chart-line"></i>
            </div>
            <h3 style="color:white;">Suivi</h3>
            <p><strong>Contrôle continu des progrès</strong>. Surveillance en temps réel de l'avancement et ajustements
              des actions pour respecter les objectifs.</p>
          </div>
        </div><!-- Fin de l'élément de service -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-check-circle"></i>
            </div>
            <h3 style="color:white;">Évaluation</h3>
            <p><strong>Mesure des résultats et impacts</strong>. Analyse de l'efficacité du projet et identification des
              leçons apprises pour les futurs initiatives.</p>
          </div>
        </div><!-- Fin de l'élément de service -->

      </div>

    </div>

  </section><!-- Fin de la chaine PPPBSE -->
  <!-- Letmotiv -->

  <div id="letmotiv" class="container section-title" data-aos="fade-up">
    <h2>Letmotiv</h2>
    <p>Le cœur de notre mission</p>
  </div><!-- End Section Title -->

  <section id="testimonials" class="testimonials section dark-background">


    <img src="{% static 'general/images/testimonials-bg.jpg' %}" class="testimonials-bg" alt="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'general/images/letmotiv-1.jpg' %}" class="testimonial-img" alt="">
              <h3>Alassane OUATTARA</h3>
              <h4>Président de la République</h4>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Citation 1</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'general/images/letmotiv-2.jpg' %}" class="testimonial-img" alt="">
              <h3>Robert Beugre MAMBE</h3>
              <h4>Premier Ministre</h4>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Citation 2</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'general/images/letmotiv-3.jpg' %}" class="testimonial-img" alt="">
              <h3>Adama COULIBALY</h3>
              <h4>Ministre des Finances et du Budget</h4>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Citation 3</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- /Letmotiv -->

  <!-- Contacts -->
  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Contactez-nous</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 270px;"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.593110545722!2d-4.020969626345279!3d5.325982094652534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1ebba800c8475%3A0xdda7f1e756e1d56a!2simmeuble%20sciam!5e0!3m2!1sfr!2sci!4v1735614167146!5m2!1sfr!2sci"
          frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->

      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Adresse</h3>
              <p>63 Avenue Marchand, <br> Abidjan-Plateau, Côte d'Ivoire</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Appeler</h3>
              <p>+225 27 203 302 538</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email</h3>
              <p>c.infomef@gmail.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="col-lg-8">
          <form action="#" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Nom et Prénoms" required="">
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Email" required="">
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Objet" required="">
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
                <!-- <div class="loading">Chargement</div>
                <div class="error-message"></div> -->
                <div class="sent-message">Votre message a été envoyé. Merci!</div>

                <button type="submit">Envoyer</button>
              </div>

            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- /Contacts -->
  <!-- Popup de confirmation -->
  <div class="popup" id="popup">
    <div class="popup-content">
      <span class="close-btn" id="closePopup">×</span>
      <p>Merci <span id="userName"></span> pour votre message !</p>
    </div>
  </div>
</main>

{% endblock %}
{% block script %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector(".php-email-form");
    const popup = document.getElementById("popup");
    const closePopup = document.getElementById("closePopup");
    const userNameSpan = document.getElementById("userName");

    form.addEventListener("submit", function (event) {
      event.preventDefault(); // Empêche l’envoi réel pour cet exemple

      // Récupérer le nom saisi dans le champ "name"
      const nameInput = form.querySelector('input[name="name"]');
      const userName = nameInput.value.trim();

      // Simuler un envoi réussi
      setTimeout(function () {
        // Insérer le nom dans le popup
        userNameSpan.textContent = userName || "cher utilisateur";

        // Afficher le popup avec effet fluide
        popup.classList.add("active");

        // Réinitialiser le formulaire
        form.reset();

        // Fermer automatiquement après 3 secondes
        setTimeout(function () {
          popup.classList.remove("active");
          setTimeout(function () {
            popup.style.display = "none"; // Cache après la transition
          }, 400); // Correspond à la durée de la transition CSS
        }, 3000); // 3 secondes
      }, 1000); // Délai de 1 seconde pour simuler l’envoi
    });

    // Fermer manuellement avec le bouton
    closePopup.addEventListener("click", function () {
      popup.classList.remove("active");
      setTimeout(function () {
        popup.style.display = "none";
      }, 400); // Correspond à la durée de la transition CSS
    });

    // Fermer en cliquant à l’extérieur
    popup.addEventListener("click", function (event) {
      if (event.target === popup) {
        popup.classList.remove("active");
        setTimeout(function () {
          popup.style.display = "none";
        }, 400); // Correspond à la durée de la transition CSS
      }
    });
  });
</script>
{% endblock %}