<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre compte est activé</title>
</head>
<body>
    <h1>Votre compte est activé !</h1>
    <p>Bonjour {{ user.first_name }},</p>
    <p>Nous avons le plaisir de vous informer que votre compte sur la plateforme a été activé avec succès.</p>
    <p>Vous pouvez désormais vous connecter pour collaborer avec nous et accéder aux ressources disponibles. Nous vous remercions pour votre engagement.</p>
    <p>Pour vous connecter, veuillez utiliser le lien suivant :</p>
    <p><a href="http://{{ domain }}/User/connexion/membre/">Me connecter</a></p>
    <p>Salutations distinguées,<br>L’équipe de la DPSE</p>
</body>
</html>