<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmez votre inscription</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
        }
        h2 {
            color: #4CAF50; /* Exemple d'utilisation des couleurs */
        }
        p {
            font-size: 16px;
        }
        a {
            color: #3498db;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <p>Bonjour {{ user.last_name }} {{ user.first_name }},</p>
    <p>Votre compte a été activé avec succès. Vous pouvez maintenant vous connecter.</p>
    <p>Veuillez utiliser le lien suivant pour vous connecter :</p>
        <a href="http://{{ domain }}/connexion/membre/">Me connecter</a>
    </p>
    <p>Cordialement,<br>L'équipe du site</p>
</body>
</html>