{% extends 'index.html' %}

{% block title %}Modifier le Document - DPSE{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4 text-primary">Modifier le document</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Nom</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ document.name }}" required>
        </div>
        <div class="mb-3">
            <label for="structure" class="form-label">Structure</label>
            <input type="text" class="form-control" id="structure" name="structure" value="{{ document.structure }}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" required>{{ document.description }}</textarea>
        </div>
        <div class="mb-3">
            <label for="pans" class="form-label">Pans</label>
            <textarea class="form-control" id="pans" name="pans" rows="3" required>{{ document.pans }}</textarea>
        </div>
        <div class="mb-3">
            <label for="results" class="form-label">Principaux Résultats</label>
            <textarea class="form-control" id="results" name="results" rows="3" required>{{ document.results }}</textarea>
        </div>
        <div class="mb-3">
            <label for="file" class="form-label">Fichier</label>
            <input type="file" class="form-control" id="file" name="file">
            <small class="form-text text-muted">Laisser vide si vous ne voulez pas changer le fichier actuel.</small>
        </div>
        <button type="submit" class="btn btn-primary">Actualiser</button>
        <a href="{% url 'document_list' document_type %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
